.center {
	text-align: center;
}
iframe {
	display: block;
	height: 100%;
	width: 100%;
	border: none;
}
h1 {
	font-weight: bold;
	color: Black;
}
h2 {
	font-weight: normal;
}
h3 {
	font-weight: bold;
	color: #C00;
	font-size: 20px;
	
}

h4 {
	font-weight: bold;
	color: #C00;
}

.red {
	color:#C00;
}

.m {
	color: Blue;
}

p.m {
	display: block;
}


.z {
	color: green;
}

p.z {
	display: block;
}

.smaz {
	text-decoration: line-through;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
	.ui-icon,
	.ui-icon-searchfield:after {
		background-image: url(images/icons-36-black.png);
	}
}

button {
 width: 240px;
}

button.m {
	;
	font: italic;
}

button.menu {
	width: 290px;
	height: 65px;
	font-style: normal;
}

button.menu_pul {
	width: 140px;
	height: 65px;
	font-style: normal;
}

button.menu_ctvrt {
	width: 140px;
	height: 30px;
	font-style: normal;
}

.skryvany {display: none}

table.kalendar{
	border: solid black 2px;
	border-color: black;
	width: 20em;
}

table.kalendar td{
	border-color: black;
}

table.kalendar tr.vyznamne {
	font-weight: bold;
}	
	
table.kalendar tr.nejvyznamnejsi {
	text-transform: uppercase;
}	

table.kalendar tr.nedele {
	background-color: #999999;
}

table.kalendar tr.dnes {
	background-color: yellow;
}


div.mesic {	font-weight: bold;
	color: #C00;
	font-size: 17px;
	padding-top: 20px;}
	
a.kalendar_odkaz {
	text-decoration: none} 
	
.green {color: green}
.black {color: black}
.violet {color: violet}
.darkred {color: darkred}
.pink {color: pink}
